/* nejsme vcerejsi, pouzivame moderni box model */
*,
:after,
:before {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}


.hlavicka {
	background-color: #3498db;
	color: white;
}

a {
	display: block;
	padding: 5px 15px;
	color: white;
	text-decoration: none;
}

a:hover {
	background-color: white;
	color: #3498db;
}

/* ---------------------------------------------------- */
.hlavicka {
	background-color: #3498db;
	color: white;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: stretch;
}

.logo {
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 20px;
	font-size: 30px;
}

.navbar {
	margin: 1px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

li {
	list-style-type: none;
	display: flex;
	/* flex-direction: column; */
	align-items: center;
	height: 100%;
}

a {
	height: 100%;
	align-items: center;
	display: flex;
}

li:hover {
	background-color: #fff;
}

li:hover a {
	color: #3498db;
}
